.idea/
# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*.so

# PyCharm specific files
.idea/
*.iml
*.iws
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml

# Virtual environment
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings (if you switch between editors)
.vscode/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Python cache and logs
*.log
*.pot
*.pyc
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Testing outputs
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.hypothesis/

# MyPy type check output
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Pycharm pytest plugin
.idea/.idea_test_mappings/

# dotenv
.env

